{% extends 'layouts/base.html' %}
{% block title %}Welcome to the build &verbar; Prepare to begin{% endblock %}
{% block pageClass %}home{% endblock %}
{% block content %}
    <section class="welcome_page">
        <img src="/assets/img/sigma-logo-alt.svg" alt="">
        <h1>Welcome to the Starting build!</h1>
        <p>This project was created to optimise and improve the process undertaken by the front end team at Sigma Consulting Solutions</p>
        <p>Any feedback would be appreciated, or suggested imrpovements!</p>
    </section>
    

{% endblock %}
