# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

#set base style for the editor
[*]
end_of_line = lf
insert_final_newline = true

#spacing formatting
indent_style = space
indent_size = 2
