{
  "extends": "semistandard",
  "env": {
    "browser": true,
    "jquery": true
  },
  "globals": {
    "ga": true
  },
  "rules": {
    # Allow empty opening line in blocks
    "padded-blocks": 0,
    #one variable declatation
    one-var: [
      "error",
      {
        var: "always",
        let: "always",
        const: "always"
      }
    ],
    # Allow 'else' on own line
    "brace-style": [
      "error",
      "stroustrup"
    ]
  }
}
