@font-face {
	font-family: 'heading';
	src: url('../fonts/Poppins-Regular.ttf');
	src: url('../fonts/poppins-regular-webfont.woff') format('woff'), url('../fonts/poppins-regular-webfont.woff2') format('woff2'), url('../fonts/Poppins-Regular.ttf') format('truetype');
	font-weight:normal;
}

@font-face {
	font-family: 'heading';
	src: url('../fonts/Poppins-Medium.ttf');
	src: url('../fonts/poppins-medium-webfont.woff') format('woff'), url('../fonts/poppins-medium-webfont.woff2') format('woff2'), url('../fonts/Poppins-Medium.ttf') format('truetype');
	font-weight:bold;
}

@font-face {
	font-family: 'body';
	src: url('../fonts/OpenSans-Regular.ttf');
	src: url('../fonts/OpenSans-regular-webfont.woff') format('woff'), url('../fonts/OpenSans-regular-webfont.woff2') format('woff2'), url('../fonts/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
}

@font-face {
	font-family: 'body';
	src: url('../fonts/OpenSans-Light.ttf');
	src: url('../fonts/OpenSans-light-webfont.woff') format('woff'), url('../fonts/OpenSans-light-webfont.woff2') format('woff2'), url('../fonts/OpenSans-Light.ttf') format('truetype');
	font-weight: light;
}

@font-face {
	font-family: 'body';
	src: url('../fonts/OpenSans-Semibold.ttf');
	src: url('../fonts/OpenSans-semibold-webfont.woff') format('woff'), url('../fonts/OpenSans-semibold-webfont.woff2') format('woff2'), url('../fonts/OpenSans-Semibold.ttf') format('truetype');
	font-weight: bold;
}